h1{
text-align: center;
front-family:arial;
color:bisque;
}
nav ul li {
  border: 1px solid palevioletred;
  width: 60px;
  display:inline-block;
  padding : 5px;
  padding-left: 5px;
  margin:15px;
  hsl();

}
#welcome11 {
  background-color: pink ;
 }

